

/* Start:/local/templates/armswiss/components/bitrix/news/events_and_news/bitrix/news.detail/.default/style.css?157605075179*/
iframe {
	width: 100%;
	height: 70vh;
}

p {
	margin: 0 0 3rem 0 !important;
}

/* End */
/* /local/templates/armswiss/components/bitrix/news/events_and_news/bitrix/news.detail/.default/style.css?157605075179 */
