

/* Start:/local/templates/armswiss/components/bitrix/system.pagenavigation/show_more/style.css?1575965264124*/
.load_more {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}
/* End */


/* Start:/local/templates/armswiss/components/bitrix/news/events_and_news/bitrix/news.list/.default/style.css?1575906581150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/armswiss/components/bitrix/system.pagenavigation/show_more/style.css?1575965264124 */
/* /local/templates/armswiss/components/bitrix/news/events_and_news/bitrix/news.list/.default/style.css?1575906581150 */
